* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Courier;
  background: #E85F5C;
  color: white;
}

body {
  padding: 100px;
}

button {
  height: 40px;
  padding: 4px 10px;
  margin: 4px;
  background: #60D394;
  border: 2px solid white;
  border-radius: 5px;
}

input {
  height: 40px;
  padding: 4px 10px;
  margin: 4px;
  background: #5BC0EB;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
}

::placeholder {
  font-style: italic;
  opacity: 80%;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-timer > * {
  margin: 20px;
}

.new-timer--times {
  display: flex;
}

.timer {
  text-align: center;
}

.timer > * {
  margin: 20px;
}

.timer--times {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 4px 10px;
  background: #52489C;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
}
